@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
body {
	background-color: #202631;
    text-align: center;
    font-family: 'Amatic SC';
}
.login_div1 , .login_div2 {
	padding: 10px;
	float: none;
	border-radius: 15px;
	color: white;
	margin-bottom: 20px;
	font-family: 'Amatic SC';
}

input {
	background-color: #202631;
	border-radius: 10px;
	width: 350px;
	height: 35px;
	font-family: 'Amatic SC';
	color: white;
	margin-left: 20px;
}

#player1_name , #player2_name {
	font-family: 'Amatic SC';
	display: inline-block;
	margin-left: 20px;
	color: white;
}
#no1, #no2 {
	width: 35%;
	font-family: 'Amatic SC';
	color: white;
}
#word_display {
	color: white;
	letter-spacing: 5px;
	font-family: 'Amatic SC';
}
#output {
    background-color: white;
    border-radius: 10px;
    border-top: 10px solid #ff5959;
    padding: 10px;
    float: none;
    font-family: 'Amatic SC';
    color: white;
}

#heading {
	font-family: 'Amatic SC';
	font-weight: bold;
	color: white;
}

label {
	font-family: 'Amatic SC';
	color: white;
}

button {
	font-family: 'Amatic SC';
	color: white;
	background-image: linear-gradient(90deg,#f261b7, #dc4de8 , #6182fd);
	border-radius: 10px;
	width: 85px;
	height: 35px;
	border-color: none;
	font-weight: bolder;
}
